* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: #b59168;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

form {
    width: 30%;
    height: 50vh;
    background-color: #fff;
    border: 4px solid #4c3a22;
    border-radius: 10px;
    box-shadow: 0 0 10px #cd9245, 0 0 30px #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh
}

.input {
    width: 70%;
    height: 4vh;
    padding: 10px;
    border-radius: 10px;
}

button {
    width: 40%;
    height: 4vh;
    font-weight: bold;
    border-radius: 10px;
    background-color: #4c3a22;
    color: #fff;
}

.products-list {
    width: 50%;
    height: 90vh;
    background-color: rgb(186, 110, 43, 0.2);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 3vh 5vw;
    gap: 5vh;
    text-align: center;
}

h2 {
    color: rgb(76, 14, 14);
    font-size: 2vw;
}

.list {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3vw;
    overflow: auto;
    padding: 2vh 0;
    scroll-behavior: smooth;
}

.list::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.card {
    width: 40%;
    height: 40vh;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px beige;
}

figure {
    width: 100%;
}

img {
    width: 100%;
}

figcaption, .price {
    text-align: left;
    padding: 2vh 0;
    font-size: 1.4vw;
    display: flex;
    color:#4c3a22;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.funcCont {
    padding: 0;
    padding-left: 10px;
    font-weight: 500;
    color: #5a3c15;
   
}
